let mapleader = " "
" IDEAVim Specific settings
set visualbell
set ideajoin
set idearefactormode=keep
" :w writes all files
set ideawrite=all
set showmode
set showcmd
nnoremap [[ :action MethodUp<CR>zz
nnoremap ]] :action MethodDown<CR>zz

" autocmd 
" augroup vimrc-incsearch-highlight-undo
"     autocmd!
"     autocmd CmdlineEnter /,\? :set hlsearch
"     autocmd CmdlineLeave /,\? :set nohlsearch
" augroup END

" Disable automatic comment insertion
autocmd FileType * setlocal formatoptions-=c formatoptions-=r formatoptions-=o

set relativenumber
set number
set clipboard+=unnamedplus
set clipboard+=ideaput
set hlsearch
set incsearch
set scroll=20 " Scroll X lines using Ctrl-d/Ctrl-u
set scrolloff=5 " Keep X lines above/below cursor when scrolling
set iskeyword+=- " Treat dash separated words as a word text object



" keymaps
" allow single line travel when lines visually wrap
" nnoremap j gj
" nnoremap k gk
" move hightlighted text up/down in different modes
nnoremap <leader>j :m .+1<CR>==
nnoremap <leader>k :m .-2<CR>==
inoremap <c-j> <esc>:m .+1<CR>==gi
inoremap <c-k> <esc>:m .-2<CR>==gi
xmap J <Action>(MoveLineDown)
xmap K <Action>(MoveLineUp)

" toggle ignorecase
nnoremap <F2> :set ignorecase! ignorecase?<cr>
nnoremap <c-c> <esc>

" exit insert mode whenever you type 'jk' or 'kj'
inoremap kj <esc>
inoremap jk <esc>

" delete without yanking
nnoremap <leader>d "_d
vnoremap <leader>d "_d
nnoremap <leader>D "_D
nnoremap <leader>C "_C
nnoremap <leader>c "_c
nnoremap <leader>x "_x

" replace currently selected text with default register without yanking
vnoremap p "_dP

" make vim behave
nnoremap Y y$
nnoremap n nzzzv
nnoremap N Nzzzv
" keep cursor at position when trying to join lines
nnoremap <leader>J mzJ`z
" break undo sequence using punctuation marks
" TODO fix bug
" inoremap , ,<c-g>u
" inoremap . .<c-g>u
" inoremap ! !<c-g>u
" inoremap ? ?<c-g>u

" make vim behave
" D duplicates highlighted below
vnoremap D y'>p
" tab while code selected
vnoremap < <gv
vnoremap > >gv

" IDEA SPECIFIC settings (refactored from nvim)
" splits
nmap sh <Action>(PrevSplitter)
nmap sl <Action>(NextSplitter)
nmap sv <Action>(SplitVertically)
nmap ss <Action>(SplitHorizontally)

nmap <leader><A-1> :action SetHarpoon1<cr>
nmap <leader><A-2> :action SetHarpoon2<cr>
nmap <leader><A-3> :action SetHarpoon3<cr>
nmap <leader><A-4> :action SetHarpoon4<cr>
nmap <leader><A-5> :action SetHarpoon5<cr>

nmap <A-1> <Action>(GotoHarpoon1)<cr>
nmap <A-2> <Action>(GotoHarpoon2)<cr>
nmap <A-3> <Action>(GotoHarpoon3)<cr>
nmap <A-4> <Action>(GotoHarpoon4)<cr>
nmap <A-5> <Action>(GotoHarpoon5)<cr>

nmap <leader>hs :action ShowHarpoon<cr>
nmap <leader>ha :action AddToHarpoon<cr>

" navigate buffer
nmap <tab> <Action>(NextTab)
" nmap <tab> <Action>(Forward)
nmap <s-tab> <Action>(PreviousTab)
" nmap <s-tab> <Action>(Back)

" nmap :bd <Action>(CloseContent)
" nmap :term <Action>(ActivateTerminalToolWindow)



" diagnostics
nmap <leader>e <Action>(ShowErrorDescription)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
" use motions to exit diff preview when navigating to a new change
nmap [c <Action>(VcsShowPrevChangeMarker)jk
nmap ]c <Action>(VcsShowNextChangeMarker)jk
" vim.api.nvim_set_keymap('n', '<leader>q', '<cmd>lua vim.diagnostic.setloclist()<CR>', opts)

" Telescope | ff -> find file | fg -> find grep | fb -> find buffer
" Telescope | dl -> diagnostics list | fa -> find all
nmap <leader>ff <Action>(GotoFile)
" SearchEverywhere
nmap <leader>fg <Action>(FindInPath)
nmap <leader>fb <Action>(RecentFiles)
" map('n', '<leader>fh', "<cmd>lua require('telescope.builtin').help_tags()<cr>", opts)
nmap <leader>fd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>fa <Action>(FindUsages)

" " lsp.lua
" vim.api.nvim_buf_set_keymap(bufnr, 'n', 'K', '<cmd>lua vim.lsp.buf.hover()<CR>', opts)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoDeclaration)
" vim.api.nvim_buf_set_keymap(bufnr, 'n', 'gD', '<cmd>lua vim.lsp.buf.declaration()<CR>', opts)
nmap gt <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
" vim.api.nvim_buf_set_keymap(bufnr, 'n', 'gr', '<cmd>lua vim.lsp.buf.references()<CR>', opts)
" vim.api.nvim_buf_set_keymap(bufnr, 'n', '<c-k>', '<cmd>lua vim.lsp.buf.signature_help()<CR>', opts)
nmap <leader>R <Action>(RenameElement)
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>fm <Action>(ShowReformatFileDialog)
vmap <leader>fm <Action>(ShowReformatFileDialog)
nmap <leader>fi <Action>(OptimizeImports)
nmap <leader>fsv <Action>(Toolkit.GotoService)
nmap <F1> <Action>(ShowReformatFileDialog)

nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
xnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nmap <leader>tc :action RunCoverage<CR>
nmap <leader>tC gg:action MethodDown<CR>zz:action RunCoverage<CR>
nmap <leader>fc :action HideAllWindows<CR>
nmap <leader>gb :action Annotate<CR>
xmap <leader>gb :action Annotate<CR>


" plugins
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = 50 " time in milliseconds
let g:highlightedyank_highlight_color = "rgba(255, 195, 0, 100)"
Plug 'dbakker/vim-paragraph-motion'

